@font-face { font-family: Lato ; src: url('fonts/Lato/Lato-Regular.ttf'); } 
@font-face { font-family: "Lato Light" ; src: url('fonts/Lato/Lato-Light.ttf'); } 

html {
    font-size: 10px;
    display: block;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(229, 229, 229, 0.692);
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "lato";
}
body button:focus {
    outline: none;
}
body button:active {
    outline: none;
}
.header {
    background-color: rgb(10, 78, 61);
    width: 100vw;
    height: 5rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 1px 0.2px rgba(0, 0, 0, 0.041);
    margin: 0;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}
.nav-menu {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-user {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 10%  50% 10%;
    grid-template-rows: 5rem 8rem 1fr 0.1fr;
    grid-template-areas: 
        "spacer  spacer spacer spacer"
        "menu categ categ categ"
        "cart items items items"
        "cart items items items";
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main-spacer {
    grid-area: spacer;
    /* background-color: rgba(32, 178, 171, 0.705); */
    height: 100%;
    width: 100%;
}
.main-menu {
    grid-area: menu;
    /* background-color: rgba(178, 32, 129, 0.705); */
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-menu button {
    height: 5rem;
    width: 8rem;;
    margin: 1rem;
    color: rgb(20, 204, 158);
    background-color: rgba(5, 75, 57, 0.801);
    border: none;
    box-shadow: gray 1px 1px 3px 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}
.main-categ {
    grid-area: categ;
    /* background-color: rgba(85, 85, 85, 0.548); */
    height: 100%;
    width: 100%;
    display: none;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    visibility: none;
    border-bottom: 1px solid rgb(212, 209, 209);
    box-shadow: rgb(207, 206, 206) 1px 1px 2px;
    overflow-x: scroll;
}

.categ-active {
    visibility: visible;
    display: flex;
}
.stock-active {
    visibility: visible;
    display: flex;
}
.active {
    background-color: rgb(129, 53, 22);
}

.main-categ button {
    height: 100%;
    width: auto;
    padding: 0 2rem 0 2rem;
    margin: 0.4rem 0.5rem 0.4rem 0.5rem;
    background-color: transparent;
    border: none;
    /*border-radius: 5px;
    box-shadow: gray 1px 1px 3px 1px; */
    color: rgb(99, 99, 99);
    cursor: pointer;
    font-size: 1.5rem;
}

.main-categ button:hover {
    border-bottom: 4px solid rgba(5, 75, 57, 0.568);
}
.main-items {
    grid-area: items;
    /* background-color: rgba(178, 156, 32, 0.705); */
    height: 95%;
    margin-top: 1%;
    margin-left: 1%;
    width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    display: none;
}
.main-active {
    display: flex;
}
.main-items button {
    height: 11rem;
    width: 18%;
    margin: 0.5rem 0rem 1rem 1rem;
    background-color: #2e7f8a;
    border: none;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    border-radius: 8px;
    font-size: 1.5rem;
    text-shadow: black 2px 2px 2px 2px;
    box-shadow: gray 1px 1px 3px 1px;
}

.main-addon {
    height: 100%;
    width: 100%;
    grid-area: addon;
    /* background-color: rgba(148, 148, 148, 0.685); */
    display: none;
}
.addon-active {
    display: flex;
}
.main-pay {
    grid-area: pay;
    /* background-color: rgba(178, 32, 64, 0.705); */
    height: 100%;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    border-bottom: 2px solid rgba(5, 75, 57, 0.8);
    display: none;
}
.main-pay-active {
    display: flex;
}

.main-pay button {
    height: 5rem;
    width: 48%;
    margin: 0.3rem 0rem 0rem 0.3rem;
    border: 1px solid rgb(179, 74, 32);
    background-color: rgb(26, 26, 26);
    color: rgb(179, 74, 32);
}
.main-cart {
    grid-area: cart;
    /* background-color: rgba(35, 99, 22, 0.705); */
    height: 100%;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none;
    box-shadow: gray 1px 2px 2px 0px; 
}

.order {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    background-color: rgba(20, 204, 158, 0.233);
    color: rgba(0, 0, 0, 0.774);
}
.order-items-wrap {
    min-height: 75%;
    height: 100%;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(20, 204, 158, 0.233);
    display: none;
}
.main-cart-active {
    display: flex;
    height: 100%;
    min-height: 70%;
    overflow: scroll;
}
.order-items {
    list-style: none;
    margin: 7%;
    width: 86%;
    display: flex;
    flex-direction: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "item-name item-price"
        "addons blank";
    justify-content: center;
    align-items: flex-start;
    height: 0rem;
    font-family: monospace;
    font-size: 12px;
}
.order-items-name {
    list-style: none;
    margin: 0;
    grid-area: item-name;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}
/* .order-items div{
    padding-left: 2rem;
    background-color: rgb(199, 199, 199);
    height: 30px;
    width: 100%;
    display: flex;
} */
.order-price {
    list-style: none;
    margin: 0;
    grid-area: item-price;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    font-family: monospace;
    font-size: 1.5rem;
}
/* .order-price div{
    background-color: rgb(199, 199, 199);
    height: 30px;
    width: 100%;
    display: flex;
} */
.order-total {
    height: 20%;
    width: 100%;
    color: rgb(20, 204, 158);
    background-color: rgb(5, 75, 57);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.order-total div{
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-total p{
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}






/* ------------------------
START OF ADD NEW PRODUCT
------------------------ */
.main-content-form {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 10%  50% 10%;
    grid-template-rows: 5rem 8rem 75%;
    grid-template-areas: 
        "spacer  spacer spacer spacer"
        "menu categ categ categ"
        "items items items items";
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-container {
    background-color: rgba(165, 147, 147, 0);
    grid-area: items;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
}
.form-container-active {
    display: flex;
}


.add-product {
    height: 100%;
    width: 100%;
    padding: 0rem 0 1rem 4rem;
    /* background-color: rgba(64, 224, 208, 0.452); */
    font-size: 2rem;
    font-family: "Lato Light";
    color: rgba(3, 3, 3, 0.726);
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.add-head {
    align-self: center;
    height: 2rem;
}

.product-id div {
    color: rgb(20, 204, 158);
}

.add-product input {
    width: 50%;
    height: 5rem;
    border: none;
    border-bottom: 2px solid rgb(20, 204, 158);
    font-size: 2rem;
    font-family: "Lato Light";
    color: rgb(20, 204, 158);
    letter-spacing: 2px;
    font-stretch: wider;
    transition: all 0.3s ease-out;
}
.form-add-category-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.884);
    font-size: 2rem;
}
.category-overlay-active {
    display: flex;
    z-index: 999;
}

.form-add-category-overlay div{
    background-color: rgb(134, 218, 197);
    height: auto;
    width: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: gray 1px 1px 10px 1px;
}
.form-add-category-overlay input{
    background-color: rgba(255, 255, 255, 0.849);
    height: 4rem;
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(34, 204, 162);
    font-size: 2rem;
}

.form-add-category-overlay input:focus{
    outline: none;
    font-size: 2rem;
}

.form-add-category-overlay button{
    background-color: rgb(34, 204, 162);
    height: 4.5rem;
    width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}
.form-add-category-overlay button:last-child {
    background-color: rgba(228, 102, 53, 0.781);
}

.add-product input:focus {
    outline: none;
    border-bottom: 2px solid rgb(179, 74, 32);
    color: rgb(179, 74, 32);
    
}
.form-categ-display {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
}
.form-categ-select {
    height: 7rem;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form-add-category {
    height: 4.5rem;
    width: 20%;
    border: none;
    cursor: pointer;
}
#add-category {
    width: 90%;
    height: 5rem;
    background-color: transparent;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.658);
    border: 2px solid rgb(20, 204, 158);
    transition: all 0.3s ease-out;
}
#add-category:focus {
    outline: none;
    border: 2px solid rgb(179, 74, 32);
}
.price-cost {
    width: 100%;
    display: flex;
    flex-direction: row;

}
.price-cost input::-webkit-outer-spin-button, 
.price-cost input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.price-div {
    width: 40%;
    height: auto;
    margin-right: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: 2px solid rgb(20, 204, 158);
    transition: all 0.3s ease-out;
}
#add-price:focus {
    color: rgb(179, 74, 32);
}
.cost-div {
    width: 40%;
    height: auto;
    margin-right: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    border: 2px solid rgb(20, 204, 158);
    transition: all 0.3s ease-out;
}
#add-cost:focus {
   color: rgb(179, 74, 32);
}
#add-price, #add-cost {
    border: none;
    height: 4rem;
    font-size: 2rem;
    color: rgb(20, 204, 158);
}
.add-submit {
    display: none;
}
.add-submit-btn {
    height: 6rem;
    position: relative;
    font-family: "Lato";
    font-size: 2rem;
    width: 85%;
    border: none;
    background-color: rgb(20, 204, 158);
    transition: all 0.1s ease-out;
}
.add-submit-btn:focus {
    outline: none;
    font-size: 2.2rem;
}

/* START OF STOCK LOOKUP */
.stock-lookup-container {
    height: 100%;
    width: 100%;
    grid-area: items;
    /* background-color: rgba(255, 105, 180, 0.692); */
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.stock-lookup-container-active {
    display: flex;
}

.stock-search {
    height: 15%;
    width: 100%;
    /* background-color: rgba(76, 0, 130, 0.719); */
}
.stock-results-header {
    height: 6rem;
    width: 57%;
    margin-left: 9.5%;
    margin-right: 5%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 1.3rem;
}
.stock-results-header-active {
    display: flex;
}
.stock-results-header div{
    height: 5%;
    width: 25%;
    display: block;
  
}
.stock-results {
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: gray 1px 1px 3px 1px;
}
.stock-results-item {
    height: 5rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(48, 146, 85);
}
.stock-results-item div{
    height: 100%;
    width: 13%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.stock-results-item button{
    height: 80%;
    width: 13%;
    background-color: rgb(34, 204, 162);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 1rem;
    cursor: pointer;
}
.stock-results-item button:last-child {
    background-color: rgba(228, 102, 53, 0.781);
}

.edit-item-box {
    height: auto;
    width: auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: none !important;
}