@font-face { font-family: Lato ; src: url('fonts/Lato/Lato-Regular.ttf'); } 
@font-face { font-family: "Lato Light" ; src: url('fonts/Lato/Lato-Light.ttf'); } 

html {
    font-size: 10px;
    display: block;
    scroll-behavior: smooth;
    background-color: rgb(34, 34, 34);
    scroll-behavior: smooth;
}


body {
    background-color: rgba(100, 100, 255, 0.1);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    font-family: "lato";
}
body button:focus {
    outline: none;
}
body button:active {
    outline: none;
}
.header {
    background-color: transparent;
    width: 100vw;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 1px 0.2px rgba(0, 0, 0, 0.041);
    margin: 0;
    font-size: 1.5rem;
    color: rgba(20, 204, 158);
}
.nav-menu {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 100%;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-user {
    height: 100%;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    background-color: transparent;
    width: 99vw;
    min-height: 99%;
    margin:0 1% 1% 1%;
    display: grid;
    grid-template-columns: 30% 20%  39% 10%;
    grid-template-rows: 4rem 6rem 1fr;
    grid-template-areas: 
        "spacer  spacer spacer spacer"
        "menu menu menu menu"
        "cart addon items categ";
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .main-content {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 4rem 3fr 3fr 6rem 6rem;
        grid-template-areas: 
            "spacer spacer"
            "cart cart"
            "items items"
            "categ categ"
            "menu menu";
    }
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main-spacer {
    grid-area: spacer;
    /* background-color: rgba(32, 178, 171, 0.705); */
    height: 100%;
    width: 100%;
}
.main-menu {
    grid-area: menu;
    /* background-color: rgba(178, 32, 129, 0.705); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.main-menu button {
    height: 4rem;
    width: 8rem;;
    margin: 1rem;
    color: rgb(49, 134, 113);
    border: 2px solid rgb(49, 134, 113);
    cursor: pointer;
    background-color: rgb(49, 134, 113, 0.05);
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.menu-cancel {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}
.menu-cancel-after {
    transform: translateX(0%);
}
.close-active-tab {
    background-color: rgba(255, 99, 71, 0.104) !important;
    color: tomato !important;
    border: 2px solid tomato !important;
}

.main-categ {
    grid-area: categ;
    /* background-color: rgba(85, 85, 85, 0.548); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    align-self: flex-start;
    overflow-x: auto;
}

/* .active {
    background-color: rgb(129, 53, 22);
} */

.main-categ button {
    height: 9rem;
    width: 9rem;
    padding: 0 2rem 0 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
    background-color: rgba(250,100,250, 0.2);
    border: 2px solid rgba(250,100,250);
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}

.main-items {
    grid-area: items;
    height: 97%;
    margin-top: 0%;
    margin-left: 1%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    display: flex;
}

.main-items button {
    height: 9rem;
    width: 9rem;
    margin: 0rem 0rem 0.5rem 0.5rem;
    background-color: rgba(20, 204, 158, 0.2);
    border: 2px solid rgba(20, 204, 158);
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}

@media screen and (max-width: 500px){
    .main-items {
        grid-area: items;
        /* background-color: rgba(178, 156, 32, 0.705); */
        height: 95%;
        margin-top: 1%;
        margin-left: 1%;
        width: 95%;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        display: none;
    }
    .main-active {
        display: flex;
        overflow: auto;
    }
    .main-categ {
        flex-flow: row nowrap;
    }
    .main-items button{
        height: 10rem;
        width: 10rem;
    }
}

.main-addon {
    height: 97%;
    width: 95%;
    grid-area: addon;
    display: flex;
    flex-flow: row wrap;
    justify-content: flext-star;
    align-items: flex-start;
    align-content: flex-start;
    align-self: flex-start;
    margin-left: 5%
}
.main-addon button {
    height: 9rem;
    width: 9rem;
    margin: 0rem 0rem 0.5rem 0.5rem;
    background-color: rgba(255, 110, 110, 0.2);
    border: 2px solid rgba(255, 110, 110);
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
}
.main-cart {
    grid-area: cart;
    background-color: rgba(100, 50, 200, 0.1);
    border-top: 2px solid rgba(100, 50, 200);
    border-radius: 10px;
    height: 97%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    display: none;
}

.order {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.856);
}

.order-items-wrap {
    min-height: 55%;
    height: 75%;
    width: 98%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: rgba(255, 255, 255, 0.856);
    font-size: 1.5rem;
    overflow: auto;
}
.active {
    display: flex;
    overflow: auto;
}
.order-items {
    list-style: none;
    margin-top: 0.5rem;
    width: 95%;
    max-width: 280px;
    display: grid;
    flex-direction: grid;
    grid-template-columns: 1fr 60% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "qty      item-name item-price"
        "blank    addon-name    addon-price";
    justify-content: flex-end;
    align-items: flex-start;
    height: auto;
    font-family: monospace; 
    font-size: 1.6rem;
    font-weight: 100;
}
.item-qty .order-items-name .order-price .order-addon-name {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: monospace;
    height: 100%;
    width: 100%;
}
.order-addon-name {
    grid-area: addon-name;
    font-size: 1.35rem !important;
    margin-left: 2rem;
    color: rgba(20, 204, 158);
}
.order-addon-price {
    grid-area: addon-price;
    font-size: 1.35rem !important;
    justify-self: flex-end !important;
    color: rgba(20, 204, 158);
}

.item-qty {
    grid-area: qty;
    margin-top: 1.5rem;
}
.order-items-name {
    grid-area: item-name;
    margin-top: 1.5rem;
}

.order-price {
    grid-area: item-price;
    justify-self: flex-end !important;
    margin-top: 1.5rem;
}

.order-pay-box {
    height: 25%;
    width: 100%;
    color: rgb(20, 204, 158);
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.order-subtotal, .order-gst, .order-total {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    font-size: 1.1rem;
    color: white;
}
.order-subtotal div, .order-gst div, .order-total div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 46%;

}
.order-subtotal div:last-child, .order-gst div:last-child, .order-total div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    align-items: center !important;
}
.order-gst {
    color: rgb(20, 204, 158);
}
.order-total {
    font-size: 1.5rem !important;
}
.order-pay {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(20, 204, 158);
    color: rgb(41, 20, 82);
    font-size: 1.8rem;
    letter-spacing: 3px;
}





 /* START OF STOCK LOOKUP */

.main-content-mgmt {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 6rem 1fr;
    grid-template-areas: 
        "spacer"
        "menu"
        "mgmt";
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}


.stock-container {
    height: 100%;
    width: 100%;
    grid-area: mgmt;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.856);
    background-color: transparent;
}
.stock-nav {
    min-height: 10rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.stock-search {
    height: 4rem;
    width: 50%;
    background-color: transparent;
    border: 2px solid rgb(20, 204, 158);
    border-radius: 10px;
    color: white;
}
.stock-add-new {
    height: 4rem;
    width: 130px;
    background-color: rgba(100, 50, 200, 0.15);
    border: 2px solid rgba(100, 50, 200);
    color: white;
    border-radius: 10px;
}
.stock-results {
    height: 70vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.stock-results-header {
    min-height: 5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(20, 204, 158);
    position: fixed;
    background-color: rgb(18, 10, 34);
}
.stock-results-header div {
    width: 20%;
    margin-right: 8%;
    text-align: start;
}
.stock-header-spacer {
    display: block;
    min-height: 5rem;
}
.stock-results-item {
    min-height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: 1px solid rgb(17, 7, 36);
}
.stock-results-item div {
    min-width: 20%;
    margin-right: 8.4%;
}
.action-button-green,
.action-button-red {
    height: 4rem;
    width: 6rem;
    color: rgba(255, 255, 255, 0.856);
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
}

.action-button-green {
    background-color: rgb(20, 204, 158, 0.1);
    border: 1px solid rgb(20, 204, 158);
}
.action-button-red {
    background-color: rgb(240, 58, 25, 0.1);
    border: 1px solid rgb(240, 58, 25);
    margin-left: 1%;
}



/*START OF POPUP*/
.pop-up-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.5);
}
.pop-up-box {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 10, 34);
    color: white;
    font-size: 1.6rem;
    border-radius: 10px;
    border: 2px solid rgb(20, 204, 158);
    padding: 2rem 4rem 2rem 4rem;
}

.pop-up-box-button-case {
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

/*START OF ADD NEW FORM */
.add-form-container {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    max-width: 400px;
    justify-content: center;
    align-items: center;
}
.add-form-label {
    width: 30%;
    height: 3.5rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.add-form-select {
    width: 50%;
    height: 3rem;
    margin: 1rem 0 1rem 0;
    background-color: transparent;
    color: rgb(20, 204, 158);
    border: 1px solid rgb(20, 204, 158);
    border-radius: 10px;
}
.add-form-input {
    width: 65%;
    height: 3rem;
    margin: 1rem 0 1rem 0;
    background-color: transparent;
    border: 1px solid rgb(20, 204, 158);
    border-radius: 10px;
}

/* START OF PIN PAGE */

.main-pin-content {
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}


.pin-container {
    min-height: 60%;
    width: 50%;
    display: grid;
    gap: 2px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
        "pin pin pin pin"
        "seven eight nine clear"
        "four five six confirm"
        "one two three confirm"
        "zer zer zer confirm";
    justify-content: center;
}
.pin-hidden{
    grid-area: pin;
    background-color: rgba(87, 87, 87, 0.486);  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgba(255, 255, 255, 0.856);
    font-size: 4rem;
}
.pin-container button {
    background-color: rgba(87, 87, 87, 0.486);
    border: none;
    color: rgba(255, 255, 255, 0.856);
    font-size: 2rem;
}

.padseven {grid-area: seven;}
.padeight {grid-area: eight;}
.padnine {grid-area: nine;}
.padclear {grid-area: clear;}
.padfour {grid-area: four;}
.padfive {grid-area: five;}
.padsix {grid-area: six;}
.padenter {grid-area: confirm; background-color: rgb(34, 204, 162)!important;}
.padone {grid-area: one;}
.padtwo {grid-area: two;}
.padthree {grid-area: three;}
.padzero {grid-area: zer;}

.main-content-users {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 4rem 6rem 1fr;
    grid-template-areas: 
        "spacer spacer"
        "menu menu"
        "items categ";
    justify-content: center;
    overflow: auto;
}


.users-container {
    background-color: rgba(192, 39, 39, 0.137);
    grid-area: items;
    height: 95%;
    width: 95%;
    margin: 2%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    position: relative;
    color: rgba(255, 255, 255, 0.856);
}
.users-container-active {
    display: flex;
}
.users-container-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative;
}
.users-container-header div{
    margin: 1rem 6rem 1rem 1rem;
}
.users-list-result {
    background-color: rgba(255, 99, 71, 0.596);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.active {
    display: flex;
}